{% extends 'bootstrap/base.html' %}

{% block title %}
  Index
{% endblock %}

{% block content %}
<meta charset="utf-8">

<!--  Default Flask Bootstrap not working for certain functions, so import-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="static/css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row wrapper" id="row-main">
  <div class="col-md-12" id="content">

    <span class='pull-right' id="album-art-toggle-span">
      <button type="button" class="glyphicon glyphicon-chevron-left btn btn-info" id="album-art-toggle"><span class="font-override"> Album Art</span></button>
    </span>

    <div class="spacer">

      <h1 style="text-align:center">Online Audio Editor</h1></br>

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#audio-file-input-div">File</a></li>
        <li><a data-toggle="tab" href="#yt-link-input-div">YouTube</a></li>
      </ul>

      <div class="tab-content">

        <div id="audio-file-input-div" class="tab-pane fade in active">
          <input type="file" id="file" name="file"></br>
          <legend><div class="audio-container"></div></legend>
          <div class="form-inline" id="audio-manipulators">

            <!-- <fieldset style="border: solid grey 1px; padding: 1em; text-align: center"> -->

            <div class="row">
              <label for="start-min">Start Time:</label>
              <input type="number" class="form-control" id="start-min" placeholder="min">
              <input type="number" class="form-control" id="start-sec" placeholder="sec">
            </div>

            <div class="row">
              <label for="end-min">Stop Time:</label>
              <input type="number" class="form-control" id="end-min" placeholder="min">
              <input type="number" class="form-control" id="end-sec" placeholder="sec">
            </div></br>

            <div class="row">
              <button type="button" class="btn btn-info" onclick="crop_or_splice('crop')">Crop</button>
              <button type="button" class="btn btn-info" onclick="crop_or_splice('splice')">Splice</button>
              <i class="fa fa-question-circle" aria-hidden="true" style="font-size:20px" id="control-information" data-toggle="tooltip"
              title="CROP: creates new audio track, removing everything before start time and after end time.
              SPLICE: creates new audio track, keeping only everything before start time and after end time."></i>
            </div>
            </fieldset>
          </div>
          </br>
          <div class="download-selection">
            <button type="button" class="btn btn-success" onclick="download_audio()">Download As</button>
            <select id="download-formats"></select>
          </div>
        </div>

        <div id="yt-link-input-div" class="tab-pane fade">
            <!-- <form action="/ytdl"> -->
          Youtube URL:<br>
          <input type="text" id ="yt_url" placeholder="https://">
          <br>
          New filename:<br>
          <input type="text" id ="filename" placeholder="">
          <br><br>
          <input type="button" value="Download" onclick="youtube_dl()">
        <!-- </form> -->
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-3 collapsed" id="album-art">
    <h2 style="text-align:center">Add Album Art</h2>
    <hr style="margin:10%; margin-top: 5%; border: solid black 1px">

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#file-input-div">File</a></li>
      <li><a data-toggle="tab" href="#link-input-div">URL</a></li>
      <li><a data-toggle="tab" href="#search-input-div">Search</a></li>
      <li><a style="cursor: pointer; color: red; font-weight: bold" onclick="cancel_image()">Clear</a></li>
    </ul></br>

    <div class="tab-content">
      <div id="file-input-div" class="tab-pane fade in active">
        <input type='file' onchange="preview_image(this);" id="image-file"/></br>
      </div>
      <div id="link-input-div" class="tab-pane fade">
        Image URL: <input id="image-url" type="url" size="20">
        <button type="button" class="btn btn-info" onclick="get_image_info_from_url()">Load Image</button></br></br>
      </div>
      <div id="search-input-div" class="tab-pane fade">
        Artist: <input id="artist" type="text" size="10"><br>
        Album:  <input id="album" type="text" size="10"><br>
        <button type="button" class="btn btn-info" onclick="download_search()">Search</button></br></br>
      </div>
    </div></br>

    <div class="preview-image-div">
      <img id="preview-image" src="" alt="your image" height="300" width="300"/>
    </div>
  </br><button type="button" class="btn btn-info" onclick="download_audio_with_album_art()">Download As MP3 With Album Art</button>
  </div>
</div></br>


{% endblock %}

{% block scripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>

    // When Page Has Fully Loaded ->
    $(function(){

      // Generate the drop down selectors for downloading the audio
      //  gets supported types from server
      create_download_dropdown();

      // EVENT - when file input changes:
      $("#file").change(function(){
        create_audio_player();
      });

      // Toggle Audio Sidebar
      $('#album-art-toggle').click(function() {
        $("#album-art").toggleClass("collapsed");
        $("#content").toggleClass("col-md-12 col-md-9");
        $('#album-art-toggle').toggleClass("glyphicon-chevron-left glyphicon-chevron-right");
      });
    });

    // Take in audio arc format string
    //  and converts it to blob (For Downloading)
    function base64ToBlob(str) {
      // extract content type and base64
      var pos = str.indexOf(';base64,');
      var type = str.substring(5, pos);
      var b64 = str.substr(pos + 8);

      // decode base64
      var content = atob(b64);

      // create an ArrayBuffer and a view (as unsigned 8-bit)
      var buffer = new ArrayBuffer(content.length);
      var view = new Uint8Array(buffer);

      // fill the view, using decoded base64
      for(var n = 0; n < content.length; n++) {
        view[n] = content.charCodeAt(n);
      }

      // convert ArrayBuffer to Blob
      var blob = new Blob([buffer], { type: type });

      return blob;
    }

    // Clears image input sources and preview
    function cancel_image() {
      $('#image-file').val("");
      $('#image-url').val("");
      $('#preview-image').attr('src', "");
      $('.preview-image-div').hide();
    }

    // Generates an audio player with a supplied source
    //  OR the source found from the input file
    function create_audio_player(src) {
      var audio_player = document.createElement('audio')
      audio_player.id = 'audio-player';
      audio_player.controls = 'controls';

      if (typeof src === 'undefined') {
        var fileReader = new FileReader();
        fileReader.onload = function () { audio_player.src = fileReader.result;}; // base 64 audio data (with prepended formatting)
        fileReader.readAsDataURL($('#file').prop('files')[0]);
      } else {audio_player.src = src;}

      remove_audio_player();
      $('.audio-container').append(audio_player);
    }

    // Gets supported audio formats from the server
    //  via AJAX
    function create_download_dropdown() {
      $.get( "/supportedFormats", function( data ) {
        $.each(data, function(key, value) {
          $('#download-formats')
            .append($("<option></option>")
            .attr("value",key)
            .text(value));
          });
      });
    }

    // Sends audio data and timestamps to the server
    //  to perform a crop or splice operation
    //  and updates client audio player with new data
    function crop_or_splice(operation) {
      // Makes an ajax request to url based off of the operation type
      url = "";
      if(operation === "crop") { url = "/crop"; }
      else if (operation === "splice") { url = "/splice"; }
      else { alert("Unrecognized operation"); return -1; }

      // Get timestamps
      var times = get_time_stamps_miliseconds();
      if(times["error"]) {alert(times["error"]); return;}

      // Get audio data
      var audio_data = get_audio_info();
      if(audio_data["error"]) {alert(audio_data["error"]); return;}

      // Format ajax data
      var data = {
        "base64": audio_data["base64"],
        "contentType": audio_data["contentType"],
        "startTime": times["start"],
        "endTime": times["end"]
      }

      // Remove player and start load icon
      remove_audio_player();
      start_load_icon();

      $.ajax({
        url: url,
        method: 'POST',
        data: JSON.stringify(data),
        contentType:"application/json; charset=utf-8",
        dataType: 'json'
      })
      .done(function(response) {
        stop_load_icon();
        if(response["error"] != null) {
          alert(response["error"]);
        } else {
          var new_src = "data:"+response["contentType"]+";base64,"+response["song"];
          create_audio_player(new_src);
        }
      })
      .fail(function(err) { console.log(err["statusCode"]); stop_load_icon();})
      .always(function() {});
    }

    function youtube_dl() {
      url = "/ytdl";

      var yturl = $('#yt_url').val();
      var name = $('#filename').val();
      // Format ajax data
      var data = {
        "yt_url": yturl,
        "filename": name,

      }

      // Remove player and start load icon
      remove_audio_player();
      start_load_icon();

      $.ajax({
        url: url,
        method: 'POST',
        data: JSON.stringify(data),
        contentType:"application/json; charset=utf-8",
        dataType: 'json'
      })
      .done(function(response) {
        console.log(response);
      })
      .fail(function(err) {alert("Error")})
      .always(function() {});
    }
    // Sends audio data and export format to the
    //  server and downloads the response base64
    //  data via Blob file
    function download_audio() {
      var audio_info = get_audio_info();
      if(audio_info["error"]) {alert(audio_info["error"]); return;}

      var format = $('#download-formats :selected').text();

      // Format ajax data
      var data = {
        "base64": audio_info["base64"],
        "contentType": audio_info["contentType"],
        "download_format":format
      }

      remove_audio_player();
      start_load_icon();

      $.ajax({
        url: '/downloadAudio',
        method: 'POST',
        data: JSON.stringify(data),
        contentType:"application/json; charset=utf-8",
        dataType: 'json'
      })
      .done(function(response) {
        if(response["error"]) {
          alert(response["error"]);
          return;
        }
        var str = "data:"+response["contentType"]+";base64,"+response["song"];
        stop_load_icon();
        create_audio_player(str);
        var blob = base64ToBlob(str);
        var obj_url = URL.createObjectURL(blob);
        $('<a href="'+obj_url+'" download="test.'+format+'"></a>')[0].click();
      })
      .fail(function(err) { stop_load_icon(); alert("There was an error!");})
      .always(function() {});
    }

    function download_search(){
      var artist = $('#artist').val();
      var album = $('#album').val();
      var data = {
            "artist" : artist,
            "album" : album
      }
      $.ajax({
        url: '/downloadAlbumArt',
        method: 'POST',
        data: JSON.stringify(data),
        contentType:"application/json; charset=utf-8",
        dataType: 'json'
      })
      .done(function(response) {
          console.log(response);
      })
      .fail(function(err) { console.log(err) })
      .always(function() {});
    }

    // Sends audio data and image data to the server
    //  (export format is forced mp3) and downloads
    //  the response base64 data via Blob file.
    //  New audio will have embedded album art.
    function download_audio_with_album_art() {
      var image_info = get_image_info();
      var audio_info = get_audio_info();

      if(audio_info["error"]) {alert(audio_info["error"]); return;}
      if(image_info["error"]) {alert(image_info["error"]); return;}

      // Format ajax data
      var data = {
        "base64_audio": audio_info["base64"],
        "contentType_audio": audio_info["contentType"],
        "base64_image": image_info["base64"],
        "contentType_image": image_info["contentType"]
      }

      remove_audio_player();
      start_load_icon();

      $.ajax({
        url: '/downloadAudioWithAlbumArt',
        method: 'POST',
        data: JSON.stringify(data),
        contentType:"application/json; charset=utf-8",
        dataType: 'json'
      })
      .done(function(response) {
        if(response["error"]) {
          alert(response["error"]);
          return;
        }
        // console.log(response);
        // return;
        // console.log(response);
        var str = "data:"+response["contentType"]+";base64,"+response["song"];
        stop_load_icon();
        create_audio_player(str);
        var blob = base64ToBlob(str);
        var obj_url = URL.createObjectURL(blob);
        $('<a href="'+obj_url+'" download="test.mp3"></a>')[0].click();
      })
      .fail(function(err) { stop_load_icon(); alert("There was an error!");})
      .always(function() {});
    }


    // Returns audio info in js object format:
    // {
    //   contentType: "type of audio, EX: audio/mp3",
    //   base64: "base64 ascii encoded audio data"
    // }
    function get_audio_info() {

      var src = $('#audio-player').attr('src');
      if(src === "") return {"error":"No audio source selected"};
      if (typeof src === 'undefined') { return {"error":"No audio source selected"}; }
      var base64_split = src.split("base64,");
      return {
        contentType: base64_split[0].split("data:")[1].split(";")[0],
        base64: base64_split[1]
      };
    }

    // Returns image info in js object format:
    // {
    //   contentType: "type of image, EX: image/jpg",
    //   base64: "base64 ascii encoded image data"
    // }
    function get_image_info() {
      var src = $('#preview-image').attr('src');
      if(src === "") return {"error":"No image source selected"};
      if (typeof src === 'undefined') { return {"error":"No image source selected"}; }
      var base64_split = src.split("base64,");
      return {
        "contentType": base64_split[0].split("data:")[1].split(";")[0],
        "base64": base64_split[1]
      };
    }

    // Sends image url to server to get image data
    //  updates image preview with result
    function get_image_info_from_url(img_url) {
      // Make ajax request to get image data from url
      img_url = img_url || -1

      if(img_url == -1) {
        if(!$('#image-url').val()) {
          alert("No URL Given!");
          return;
        }
        img_url = $('#image-url').val();
      }

      // Format ajax data
      var data = {
        "url": img_url
      }

      $.ajax({
        url: '/getImageData',
        method: 'POST',
        data: JSON.stringify(data),
        contentType:"application/json; charset=utf-8",
        dataType: 'json'
      })
      .done(function(response) {
        console.log(response);
        if(response["error"] != null) {
          alert(response["error"]);
        } else {
          var new_src = "data:"+response["contentType"]+";base64,"+response["base64"];
          $('#preview-image').attr('src', new_src);
          $('.preview-image-div').show();
        }
      })
      .fail(function(err) { console.log(err["statusCode"]); stop_load_icon();})
      .always(function() {});
    }

    // Converts timestamp inputs to miliseconds. Returns:
    // {
    //   "start": start time in mili,
    //   "end": end time in mili
    // }
    function get_time_stamps_miliseconds() {
      var start_min = $('#start-min').val();
      var start_sec = $('#start-sec').val();
      var end_min = $('#end-min').val();
      var end_sec = $('#end-sec').val();

      start_min = ($.isNumeric(start_min))? start_min : 0;
      start_sec = ($.isNumeric(start_sec))? start_sec : 0;
      end_min = ($.isNumeric(end_min))? end_min : 0;
      end_sec = ($.isNumeric(end_sec))? end_sec : 0;

      var start_mili = (start_min*60*1000) + (start_sec*1000);
      var end_mili = (end_min*60*1000) + (end_sec*1000);

      // Get max possible time to put cap on end time
      if(!document.getElementById("audio-player")){return {"error":"No audio track selected!"};}
      var max_time = document.getElementById("audio-player").duration * 1000;
      end_mili = (end_mili > max_time) ? max_time : end_mili;

      // console.log(start_mili + " and " + end_mili);
      if(start_mili >= end_mili) { return{"error":"Start time must be less than end time"}; }

      return {
        "start": start_mili,
        "end": end_mili
      };
    }

    // Updates image preview with input file data
    function preview_image(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $('#preview-image').attr('src', e.target.result);
          $('.preview-image-div').show();
        }
        reader.readAsDataURL(input.files[0]);
        }
      }

    // Removes existing audio player
    function remove_audio_player() {
      $('.audio-container').empty();
    }

    // Start awesome loader icon for client feedback
    function start_load_icon() {
      $('.audio-container').append('<i class="fa fa-refresh fa-spin" style="font-size:24px"></i>');
    }

    // Stop awesome loader icon for client feedback
    function stop_load_icon() {
      $('.audio-container').empty();
    }

  </script>
{% endblock %}
